body{
    background-color: paleturquoise;
    font-family: "Roboto", sans-serif;
    color: #333333;
}

header{
    width: 100vw;
    height: 80px;
    padding: 15px 25px;
    display: flex;
    right: 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
}
main{
    width: 100%;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: scroll;
    /*-ms-overflow-style: none;*/
    scrollbar-width: none;
}
footer{
    width: 100vw;
    height: 80px;
    bottom: 0px;
    right: 0;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
}

.escrevaaqui{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.iconepessoas{
    height: 30px;
    width: 42px;
}
.iconeaviaozinho{
    height: 26px;
    width: 26px;
}