body{
    background-color: paleturquoise; //#f3f3f3;
    font-family: "Roboto", sans-serif;
    color: #333333;
    display: flex;
    flex-direction: column;
}

header{
    width: 95vw;
    height: 80px;
    padding: 15px 25px;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
main{
    width: 100%;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
main::-webkit-scrollbar {
    display: none;
}
main li {
    width: 100%;
    padding: 10px;
    margin-bottom: 4px;
    line-height: 22px;
    word-break: break-word;
}
footer{
    width: 95vw;
    height: 80px;
    bottom: 0px;
    left: 0;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
footer button {
    font-size: 30px;
    margin-bottom: 0 0 -5px 5px;
}

.escrevaaqui{
    width: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: -0.5px;
    padding-left: 10px;
}
.escrevaaqui input{
    margin-bottom: 10px;
}
.escrevaaqui input::placeholder{
    font-style: italic;
    color: #606060;
    font-size: 16px;
}
.escrevaaqui span{
    font-weight: 100;;
    font-size: 15px;
}

.iconepessoas{
    height: 30px;
    width: 42px;
}
.iconeaviaozinho{
    height: 26px;
    width: 26px;
}

.entradaesaida{
    background-color: #dcdcdc;
}
.publica{
    background-color: #fff;
}
.privada{
    background-color: #ffdede;
}
.hora{
    right: 5px;
    color: #b8b8b8;
}

.fundoescondido{
    display: none;
}
.fundomenu{
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    transition: all 200ms linear;
    z-index: 3;
}

aside.menu{
    width: 210px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    transition: all 600ms linear;
    overflow-y: scroll;
    z-index: 4;
}
aside.menu.escondido{
    right: -250px;
}
aside.menu li{
    font-size: 14px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
    word-break: break-word;
}
aside.menu ion-icon{
    font-size: 20px;
    margin-right: 10px;
    margin-top: -2px;
    flex-shrink:0;
}


.titulo{
    text-align: center;
    margin: 20px 0;
    padding: 0 5px;
    letter-spacing: -0.5px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 700;
}

.check{
    right: -5px;
    top: -2px;
    color: #61aa47;
    display: none;
}
.selecionado .check{
    display: inline;
}